<nav class="main-nav">
    <a href="{{ "/" | relative_url  }}site">Site</a>
    <div class="divider">|</div>
    <a href="{{ "/" | relative_url  }}">  Writing  </a> 
    <!-- <a href="{{ "/" | relative_url  }}reading">Reading </a>
    <a href="{{ "/" | relative_url  }}notes"> Notes </a> -->
    <!-- <a class="cta" href="{{ "/" | relative_url  }}feed.xml">Subscribe</a> -->
    <a class=git-nav-icon href=https://github.com/armanjindal>
        <img src="https://armanjindal.github.io/assets/images/giticon.svg" width="25px" height="25px">
    </a>
</nav>